# Pandas

In [1]:
import pandas as pd

In [2]:
# Creating a DataFrame from a dictionary

In [3]:
fruits_dict= {"mangos":[35], "banana":[20], "apple":[45], "oranges":[25]}

In [4]:
type(fruits_dict)

dict

In [5]:
fruits_df = pd.DataFrame(fruits_dict)

In [6]:
fruits_df

   mangos  banana  apple  oranges
0      35      20     45       25

# Reading from a dataset

In [7]:
# datasets could be in CSV, excel etc
# save the dataset in the same dierctory as the code or you should be able to include the path

In [8]:
# datase of iris potatoes, diabetes,

In [9]:
# use the function read_csv in the pandas library

# Phone prices Dataset

In [19]:
phone_df = pd.read_csv("PhonesPriceInKenya.csv")

In [11]:
phone_df.head() # display the first 5 entries

,Phone Title,Specs,Price(Kshs),Rating,Specs Score,Likes
0,Gionee M7 Power,"Screen:6.0 inches, 720 x 1440 pixels,Front Cam...","11,800",4.0,56%,13
1,Gionee M7,"Screen:6.01 inches, 1080 x 2160 pixels,Front C...","7,999",4.5,69%,8
2,Samsung Galaxy M21 6GB128GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","22,590",4.3,100%,30
3,Samsung Galaxy M21 4GB64GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","22,499",3.8,94%,31
4,Samsung Galaxy A31 6GB128GB,"Screen:6.4 inches, 1080 x 2400 pixels,Front Ca...","24,999",3.8,98%,31

In [12]:
phone_df.head(10)

,Phone Title,Specs,Price(Kshs),Rating,Specs Score,Likes
0,Gionee M7 Power,"Screen:6.0 inches, 720 x 1440 pixels,Front Cam...","11,800",4.0,56%,13
1,Gionee M7,"Screen:6.01 inches, 1080 x 2160 pixels,Front C...","7,999",4.5,69%,8
2,Samsung Galaxy M21 6GB128GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","22,590",4.3,100%,30
3,Samsung Galaxy M21 4GB64GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","22,499",3.8,94%,31
4,Samsung Galaxy A31 6GB128GB,"Screen:6.4 inches, 1080 x 2400 pixels,Front Ca...","24,999",3.8,98%,31
5,Samsung Galaxy A31 4GB64GB,"Screen:6.4 inches, 1080 x 2400 pixels,Front Ca...","24,499",5.0,90%,15
6,Samsung Galaxy A11 3GB32GB,"Screen:6.4 inches, 720 x 1560 pixels,Front Cam...","13,999",4.0,54%,13
7,Samsung Galaxy A11 2GB32GB,"Screen:6.4 inches, 720 x 1560 pixels,Front Cam...","14,999",3.7,53%,16
8,Samsung Galaxy M31 6GB128GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","25,999",3.7,100%,84
9,Samsung Galaxy M31 6GB64GB,"Screen:6.4 inches, 1080 x 2340 pixels,Front Ca...","26,999",3.5,100%,22

In [13]:
phone_df.tail()# last 5

,Phone Title,Specs,Price(Kshs),Rating,Specs Score,Likes
1143,Nokia 105 2019,"Screen:1.77 inches, 120 x 160 pixels,Front Cam...","1,900",3.0,8%,11
1144,Nokia 220 4G,"Screen:2.4 inches, 240 x 320 pixels,Front Came...",NaN,4.0,11%,8
1145,Nokia X71,"Screen:6.39 inches, 1080 x 2316 pixels,Front C...",NaN,3.0,93%,53
1146,Nokia 22 3GB32GB,"Screen:5.71 inches, 720 x 1520 pixels,Front Ca...",NaN,3.4,47%,50
1147,Nokia 22 2GB16GB,"Screen:5.71 inches, 720 x 1520 pixels,Front Ca...","9,500",3.9,45%,39

In [14]:
phone_df.info()# show the info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1148 entries, 0 to 1147
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Phone Title  1148 non-null   object
 1   Specs        1148 non-null   object
 2   Price(Kshs)  1070 non-null   object
 3   Rating       1148 non-null   float64
 4   Specs Score  1148 non-null   object
 5   Likes        1148 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 53.9+ KB

In [15]:
phone_df.describe()# give the statistics

            Rating        Likes
count  1148.000000  1148.000000
mean      3.934408    25.145470
std       0.757267    32.155663
min       1.300000     1.000000
25%       3.400000     7.000000
50%       4.000000    14.000000
75%       4.500000    29.250000
max       5.000000   296.000000

In [16]:
phone_df.columns

Index(['Phone Title', 'Specs', 'Price(Kshs)', 'Rating', 'Specs Score',
       'Likes'],
      dtype='object')

# Iris Dataset

In [18]:
iris_df = pd.read_csv("iris.csv")

In [20]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
iris_df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [26]:
 iris_df['Species'].unique() # check the unique species

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [27]:
iris_df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000