# System defined functions

# 1) print()

In [1]:
print("hello world")

hello world

# 2) type()

In [2]:
type(23.2)

float

In [3]:
type("Neural networks")

str

In [4]:
name

NameError: name 'name' is not defined

# 3) input()

In [ ]:
name = input("What is your name?")

In [ ]:
name

In [ ]:
age = input("enter your age")

In [ ]:
type(age)

In [ ]:
age=int(age)

In [ ]:
type(totalmark)

In [ ]:
totalmark=0
for i in range(1,5):
    mark = int(input("enter the mark  "))
    totalmark=totalmark+mark
averagescore=totalmark/4
print("The average score for 4 students is :" + str(averagescore))

# 4) String()

In [20]:
name="Gladys Maina"

In [21]:
name.upper()

'GLADYS MAINA'

In [22]:
name.lower()

'gladys maina'

In [23]:
name.swapcase()

'gLADYS mAINA'

In [24]:
name.capitalize()

'Gladys maina'

In [29]:
'a' in name

True

# User defined functions

User defined functions are made up of the follow. 

1) key word def

2) Name of the function

3) parenthesis ()

4) parameters to receive i the function  (optional)-what the function will recieve/input

5) Collon

6) The body of the function. This must be indented 

7) The return (optional)-what the function will output

In [6]:
def ComputeAverage(math, eng):
    avg=math+eng/2
    return avg

In [9]:
myavg = ComputeAverage(99,45)
print(myavg)

121.5

In [17]:
def Agecalculator():
    year = int(input("which year wer you born: "))
    age= 2024-year
    #     print("Your age is : "+ str(age) + " years old")
    
    return age

In [18]:
Agecalculator()

which year wer you born: 1777

247

# Numpy

In [31]:
import numpy as np

In [ ]:
# creating anumpy array

In [30]:
fruits=["mangos", "oranges", "bananas"]

In [32]:
np_fruits= np.array(fruits)

In [37]:
np_fruits= np.array(["mangos", "oranges", "bananas"])

In [35]:
marks= [90,45,78] # create the lis first

In [36]:
np_marks= np.array(marks)# convert the list to numpy

In [38]:
np_marks = np.array([90,45,78]) # the easiest way to create 
                            # numpy array is to directkyconvert the list to numpy within the brackest

In [40]:
np_marks

array([90, 45, 78])

In [42]:
np_marks2 = np.array([[90,45,78], [45,87,88]])

In [43]:
print(np_marks2)

[[90 45 78]
 [45 87 88]]

In [44]:
# create a numpy array called classlist with three names of the students in that class

# Slicing of arrays

In [92]:
classlist = np.array(["Wambua", "John", "sam", "mary", "Jacob", "Waema", "Njeri", "Kibet","Sawoh"])

In [48]:
classlist

array(['Wambua', 'John', ' sam', 'mary', 'Jacob', ' Waema', ' Njeri',
       'Kibet', 'Sawoh'], dtype='<U6')

In [59]:
classlist[-3:]

array([' Njeri', 'Kibet', 'Sawoh'], dtype='<U6')

In [60]:
my2Darray = np.array([[ -7, 0, 10, 20],
[ -5, 1, 40, 200],
[ -1, 1, 4, 30]])

In [61]:
print(my2Darray)

[[ -7   0  10  20]
 [ -5   1  40 200]
 [ -1   1   4  30]]

In [68]:
my2Darray[1:2, :]

array([[ -5,   1,  40, 200]])

In [72]:
classlist

array(['Wambua', 'John', ' sam', 'mary', 'Jacob', ' Waema', ' Njeri',
       'Kibet', 'Sawoh'], dtype='<U6')

In [83]:
classlist2 = np.append(classlist, ["Jerome"])

In [84]:
type(classlist)

numpy.ndarray

In [86]:
classlist2

array(['Wambua', 'John', ' sam', 'mary', 'Jacob', ' Waema', ' Njeri',
       'Kibet', 'Sawoh', 'Jerome'], dtype='<U6')

In [ ]:
fruits

In [ ]:
"apple"

# append

In [ ]:
new_fruit = np.appaned(fruit, ["apple"])

# sort

In [93]:
sorted_arr = np.sort(classlist)

In [94]:
sorted_arr

array(['Jacob', 'John', 'Kibet', 'Njeri', 'Sawoh', 'Waema', 'Wambua',
       'mary', 'sam'], dtype='<U6')

In [95]:
prices = np.array([23,54,67,34,54,12,65,98,34,45])

In [96]:
np.sort(prices)

array([12, 23, 34, 34, 45, 54, 54, 65, 67, 98])

In [102]:
np.sort(prices)[::-1]

array([98, 67, 65, 54, 54, 45, 34, 34, 23, 12])

# reshape

In [103]:
new_prices = prices.reshape(2,5)

In [104]:
new_prices

array([[23, 54, 67, 34, 54],
       [12, 65, 98, 34, 45]])

In [107]:
np.mean(prices)

48.6